* {
  padding: 0;
  margin: 0;
}
html, body{
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-color: rgb(255, 255, 255);
}
.header {
  height: 10%;
  width: 100%;
  display: block;
  background-color: rgb(26, 3, 3);
  color: rgb(255, 255, 255);
}
.footer {
  height: 5%;
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(26, 3, 3);
  color: rgb(255, 255, 255);
}
.realcontent {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}
.scrolly {
  width: 100%;
  height: 85%;
  overflow: scroll;
}
.scrollable {
  overflow: scroll;
}
.artbook_content {
  width: 50%;
  height: 100%;
  border: 1;
  background-color: rgb(128, 128, 128);
}
.artbook_selection {
  width: 100%;
  height: 10%;
  border: 2;
}
